.content {
    padding: 10px;
}

.contacts {
    display: flex;
    background-color: white;
    padding: 0 30px;
    border-radius: 20px;
    margin-top: 20px;
}

.contacts p {
    margin-left: 50px;
}

.profile_page {
    display: flex;
}

.info {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-left: 15px;
    width: 70%;
}

.profile_page img {
    height: 300px;
    border-radius: 20px;
}

.works {
    display: flex;
    background-color: white;
    padding: 0 30px;
    border-radius: 20px;
    margin-top: 20px;
}

.works p {
    margin-left: 50px;
}

@media (max-width: 440px) {
    .profile_page {
        display:block;
    }
    .info {
        padding: 10px;
        background-color: white;
        border-radius: 20px;
        margin-left: 0px;
        width:250px;
    }
    .profile_page img {
        width:270px;
        border-radius: 20px;
    }
    .contacts {
        display: block;
        width: 200px;
    }
    .contacts p {
        margin-left: 0px;
    }
    .works {
        display: block;
        width: 200px;
    }
    .works p {
        margin-left: 0px;
    }
}